* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: #440e0ed0;
}

.navbar-inverse .navbar-toggle {
  border-color: #fcf8e3;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fcf8e3;
}
.navbar-inverse .navbar-brand {
  color: #fcf8e3;
}
a.navbar-brand {
  font-family: "Emilys Candy";
}
.navbar-collapse {
}
.navbar-collapse a {
  color: #fcf8e3;
}

#homepage {
  background: #fcf8e3;
  position: relative;
  top: 100px;
  
}

#homepage-text {
  font-family: "Emilys Candy";
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#homepage-text h1 h2 {
  color: #440e0ed0;
}

#homepage-image {
  background: url(images/vanilla\ homepage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  object-fit: fill;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.products {
  padding-top: 10vh;
}

control_button {
  z-index: -1;
}

.column img {
  width: 100%;
}

article h2 {
  font-family: "Emilys Candy";
  color: #440e0ed0;
}
article {
  line-height: 1.6;
}
section h2 {
  font-family: "Emilys Candy";
  color: #440e0ed0;
}
section {
  line-height: 1.6;
}
.benefits li {
  list-style-type: square;
  list-style-position: inside;
}

/* footer */
footer {
  padding: 20px 10px;
  text-align: center;
  color: #fcf8e3;
  background-color: #270303c0;
  font-family: Emilys Candy;
}
footer li {
  list-style-type: none;
}
footer li a {
  color: #fcf8e3;
}
footer li a:hover {
  color: aqua;
}

.fab {
  color: #3c5ea8;
  font-size: 40px;
}
.fab:hover {
  color: aqua;
}

.formpage {
  background-image: url(/images/vanillaorchid\ 1.jpg);
}

form {
  background-color: #270303c0;
  font-family: "Emilys Candy";
  color: #fcf8e3;
  padding: 20px;
  margin: 5vw;
  
  
  
}
form header h1 {
  background-color: #fcf8e3;
  color: #270303c0;
  text-align: center;
}
